---
title: "Private Events & Parties | Nadine's Restaurant | Yorktown Heights, NY"
description: "Host your next private event, party, or special occasion at Nadine's Restaurant in Yorktown Heights, NY. Submit an inquiry to get started."
---

{% extends "layouts/base.njk" %}

{% block content %}
  <section>
    <div class="max-w-screen-xl mx-auto px-4 py-16">
      <h1 class="text-4xl font-bold mb-8">Events</h1>
      <iframe src="https://88restaurants.com/799/party_inquiry_forms" frameborder="0" width="100%" height="565" scrolling="no"></iframe>
    </div>
  </section>
{% endblock %}
